.kort {
  padding: 1rem;
  background: lightblue;
  border: 1px solid black;
  color: black;
  font-family: Arial;
  flex: 1 1 200px;
 
}
.kort img {
  max-width: 100%;
  height: auto;
}

.kort-rad {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}